<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>
<link rel="stylesheet" href="/stylesheets/catalog.css">

<body>
    <main>  
        <%- include("./partials/header.ejs") %>
        <div class="products-details-container">
            <% products.forEach (producto =>{ %>
                <a  href="/products/<%= producto.id %>" class="aProduct">
                <div class="product-container">
                    
                     <div class="product-container-left">
                        <img src="" alt="" class="product-container-image">
                    </div>
                    <div class="product-container-right">

                        <h4 class="product-container-title"><%= producto.name %></h4>
                        <p class="product-container-category"></p>
                        <p class="product-container-price">$<%= producto.price %></p>
                         
                    </div>
                </a>
                </div>
            <% }) %>
        </div>    
        <%- include("./partials/footer.ejs") %>

    </main>
    
</body>
</html>