<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>
<link rel="stylesheet" href="/stylesheets/create.css">

<body>
    <main>
        <%- include("./partials/header.ejs") %>

        <div class="principal">
            
            <div class="edit-form"> 
                <h4 class="principal-container-right-title">Crear producto</h4>

                <form action="/products" method="POST" enctype="multipart/form-data">
                <ul>
                    <li>
                        <label for="name">Nombre: <br></label>
                        <input type="text" id="name" name="name">
                    </li>

                    <li>
                        <label for="product_detail">Descripcion: <br></label>
                        <input type="textarea" id="product_detail" name="product_detail">
                    </li>

                    <li>
                        <label for="image">Imagen: <br></label>
                        <input type="file" id="image" name="image" class="subir-imagen">
                    </li>

                    <li>
                        <label for="category">Categoria: <br></label>
                            <select name="category" id="category" class="selector-categorias">
                                <% for (let i = 0; i < categories.length; i++) { %>
                                    <option value=" <%=categories[i].id %> ">
                                        <%=categories[i].name %>
                                    </option>
                                <% } %>
                            </select>
                        </optgroup>
                    </li>

                    <li>
                        <label for="brand">Marca: <br></label>
                        <input type="text" id="brand" name="brand">
                    </li>
                    
                    <li>
                        <label for="price">Precio: <br></label>
                        <input type="number" id="price" name="price" min="1.0" max="100000.00">
                    </li>

                    <li>
                    <input type="submit" value="Crear producto" class="crear-producto-input">   
                    </li>

    

                </ul>




                </form>
            </div>    


        </div>


          
        <%- include("./partials/footer.ejs") %>
    </main>
</body>