<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>
<body>
    <main>
        <%- include("./partials/header.ejs") %> 
        <img src="https://http.cat/<%=error%>" alt="">
        <%- include("./partials/footer.ejs") %>
    </main>

</body>
</html>
    <img src="https://http.cat/<%=error%>" alt="">
    



