<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>
<link rel="stylesheet" href="/stylesheets/productUsersList.css">

<body>
    <main>
        <%- include("./partials/header.ejs") %>


        <div class="principal">

            <div class="buttons-container">
                
                <button><a href="/products/create">Agregar producto</a></button>
                </div>

            <br>    

            <div class="principal-container"> 
                <table class="product-table">
                    <thead>
                    <tr>
                        <th>Nombre</th> 
                        <th>Descripcion</th>
                        <th>Imagen</th>
                        <th>Categoria</th>
                        <th>Marca</th>
                        <th>Precio</th>
                        <th class="edit-colum" >Editar</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% resultado.forEach (resultado =>{%> 
                          
                    <tr>
                        <td>
                            <a style="color: black; font-weight: 600;" href="/products/<%=resultado.id%>">
                                <%= resultado.name %>
                            </a>
                        </td> 

                        <td><%= resultado.product_detail %></td>
                        <td><img src="/images/<%= resultado.image %>" alt=""></td>
                        <td><% cat.forEach (cat =>{%><%= cat.name %><% }) %> </td>
                        <td><% bra.forEach (bra =>{%><%= bra.name %><% }) %> </td>
                        <td>$<%= resultado.price %>.00 </td>
                        <td >
                            <a href="/products/<%=resultado.id%>/edit"> 
                                <i class="far fa-edit"></i>
                            </a>
                                <form action="/profile/edit/<%= resultado.id%>?_method=DELETE" method="POST">
                                    <button type="submit" style="color: transparent; border: none;">
                                    <i class="far fa-trash-alt"></i>
                                    </button>
                                </form>
                        </td>
                    </tr>
                    <% }) %>    
                    
                </tbody>
        
                </table>
            </div>



        </div>   
        <%- include("./partials/footer.ejs") %>
    </main>
</body>