<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>
<link rel="stylesheet" href="/stylesheets/productDetail.css">

<body>
    <main>
        <%- include("./partials/header.ejs") %>

        <section class="principal">

            <div class="product-detail-container">

                <div class="photo-product-detail-container">
                    <img src="<%=products.imagen %>" alt="" class="photo-product">
                </div>
                <div class="name-info-product-detail-container">
                    <h3 class="product-title"><%= products.nombre %></h3>
                
                    <p class="info-product"><%= products.descripcion %></p>

                    <h4 class="price-product"><%= products.precio %></h4>
                    <div class="add-to-cart-prodcuto-detail-container">  
                        <a href="/products/cart">   
                        <button><p> Agregar al carrito </p></button> 
                    
                    </a>
    
                    </div>   
                </div>
                
            </div>

        </section>
     
            <%- include("./partials/footer.ejs") %>

    </main>
    
</body>
</html>