<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/stylesheets/profile.css">
<%- include("./partials/head.ejs") %>

<body>
    <main>
        <%- include("./partials/header.ejs") %>
        <div class="profile-details-container">
                    <div class="profile-container">
                    
                            <form action=":id?_method=PUT" method="POST" class="profile-container-edit">
                                <img src="<%=users.image %>" alt="" class="profile-container-imagen">
                            
                                <label for="name"></label>
                                <input name="name" type="text" value="<%= users.name %>">

                                <label for="email"></label>
                                <input name="email" type="email" value="<%= users.email %>">

                                <label for="edad"></label>
                                <input name="edad" type="date" value="<%= users.edad %>">

                                <label for="ciudad">Ciudad</label>
                                <input name="ciudad" type="text" value="<%= users.ciudad %>">

                                <label for="direccion">Direccion</label>
                                <input name="direccion" type="text" value="<%= users.direccion %>">

                                <label for="codigoPostal">Codigo Postal</label>
                                <input name="codigoPostal" type="number" value="<%= users.codigoPostal %>">

                                <label for="telefono">Telefono</label>
                                <input name="telefono" type="number" value="<%= users.telefono %>">

                                <input type="submit" value="Editar" class="editar">
                            </form>   
                    </div>   
        </div>


        <%- include("./partials/footer.ejs") %>
    </main>
</body>