<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>
<link rel="stylesheet" href="/stylesheets/search.css">

<body>
    <main>  
        <%- include("./partials/header.ejs") %>
        <div class="products-details-container">
            <% products.forEach (producto =>{ %>
                <div class="product-container">
                     <div class="product-container-left">
                        <img src="<%=producto.image%>" alt="" class="product-container-image">
                    </div>
                    <div class="product-container-right">
                        <h4 class="product-container-title"><%= producto.name %></h4>
                        <p class="product-container-price"><%= producto.price %></p>
                            <a class="product-container-addcart" href="/products/productDetail"> Leer mas </a>
                    </div>
                </div>
            <% }) %>
        </div>    
        <%- include("./partials/footer.ejs") %>

    </main>
    
</body>
</html>