<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>
<link rel="stylesheet" href="/stylesheets/productDetail.css">

<body>
    
        <%- include("./partials/header.ejs") %>

        <section class="principal">

            <div class="product-detail-container">

                <div class="photo-product-detail-container">
                    <img src="/images/<%= resultado.image %>" alt="" class="photo-product">
                </div>
                <div class="name-info-product-detail-container">
                    <h3 class="product-title"><%= resultado.name %></h3>
                    <p class="linksDetail"> 
                        <a href="/categories/<%= resultado.category.name %>"><%= resultado.category.name %></a> - <a href="/categories/promociones"> Promociones</a> - <a href="/">Ver los medios de pago</a>
                    </p>
                    
                    <p class="info-product"><%= resultado.product_detail %></p>
                    <h4 class="price-product">AR $ <%= resultado.price %></h4>
                    <div class="add-to-cart-prodcuto-detail-container">  
                        <a href="/products/cart">   
                        <button>Agregar al carrito</button> 
                    
                    </a>
    
                    </div>   
                </div>
                
            </div>

        </section>
        
        <%- include("./partials/footer.ejs") %>
    
    
</body>
</html>