<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/stylesheets/profile.css">
<%- include("./partials/head.ejs") %>

<body>
    <main>
        <%- include("./partials/header.ejs") %>
        <div class="profile-principal-container">

            <div class="profile-container">
                
                
                <div class="profile-img-container">
                    <div>
                    <img src="/images/avatarUsuarios/<%= Customers.image %>" alt="" class="profile-img">
                    </div>
                </div>

                <div class="profile-name">
                    <h2> <%= Customers.name %> </h2>
                </div>

                <div class="contact-info">
                <table class="contact-info-table">
                    <thead >
                        <tr>
                            <th>F. Nac:</th>
                            <th> <%= Customers.birth_date %> </th>
                        </tr>

                        <tr>
                            <th>Tel:</th>
                            <th> <%= Customers.telephone %> </th>
                        </tr>

                        <tr>
                            <th>Dir:</th>
                            <th> <%= Customers.shipping_addres %> </th>
                        </tr>

                        <tr>
                            <th>email:</th>
                            <th> <%= Customers.email %> </th>
                        </tr>

                    </thead>
                </table>
                    
                </div>

                <div class="buttons-container">
                <button><a href="/profile/edit/<%= Customers.id %>">Editar perfil</a></button>
                <button><a href="/profile/productlist">Lista de productos</a></button>
                <button><a href="/">Catalogo</a></button>
                <button><a href="/">XXXXXXXXX</a></button>          

                </div>

                <form action="/logout" class="form-cerrar">
                    <input class="buttons-cerrar" type="submit" value="Cerrar Seccion">
                </form>



            </div>
            
        </div>
        <%- include("./partials/footer.ejs") %>
    </main>
</body>